#!/usr/bin/env bash
export GOPATH=${HOME}/go
export ANSIBLE_VAULT_PASSWORD_FILE=${HOME}/.ansible_vault_password_files/foldit.txt
export DO_ACCCESS_KEY={{ do_access_key }}
export DO_SECRET_KEY={{ do_secret_key }}

source $HOME/.venvs/foldit/bin/activate
export PATH={{ repo_loc }}/bin:$PATH
